ansible>=2.4
molecule >=3.0,<3.1.0
python-vagrant>=0.5.15
dopy>=0.3.2
molecule-digitalocean @ git+https://github.com/ansible-community/molecule-digitalocean.git@04ac113d7f62092f131e92000960014d0cda50c7
testinfra==3.4.0
